
<div class="row mt-2 mb-5">
        <h1> All Cars</h1>
        <h3>@Model.currCategory</h3>
    @{
        foreach(Car car in Model.allCars)
        {
           @Html.Partial("AllCars",car)

        }
        }
      </div>
